:root{

    scroll-behavior: smooth;
}


body{
background-color: #70d6ff;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

div {

border: 1px solid black;
/*margem interna*/
padding: 30px;

}
.container{

    max-width: 900px;
    margin: auto;   
    /*centraliza a própria div  */
    padding: 0;

}

/*chama a div com a class="topo"*/
.topo{

background-color: #ff70a6;
text-align: centeru
}

.nav {

    background-color: #ff9770;
    display: flex;
    justify-content: space-around;

}

.principal{

    background-color: #ffd670;
    text-align: center;
}

.cardapio {

    background-color: pink;
    text-align: center;
}

.sobre{

    background-color: #d3ec46;
    text-align: center;
}

.rodape{

    background-color: #ee6136;
    text-align: center;

}

    /* coolors.co/  */
    /* adobe colors */
    /* paletton */
/* Formatar tabela */
table{
width: 100%;
border: 1px solid #ffffff;

}

td{
    padding: 20px;
    background-color: rgb(240, 73, 101);
    border-bottom: 1px solid rgb(20, 5, 8);

}

th{
    background-color: #ff70a6;
    color: #ffffff;
    padding: 20px;


}




    