body{
background-color: #70d6ff;
font-family: Verdana, Geneva, Tahoma, sans-serif;

}

div {

border: 1px solid black;
/*margem interna*/
padding: 30px;

}
.container{

    max-width: 900px;
    margin: auto;   
    /*centraliza a própria div  */
    padding: 0;

}

/*chama a div com a class="topo"*/
.topo{

background-color: #ff70a6;
text-align: center;
}

.nav {

    background-color: #ff9770;

}

.principal{

    background-color: #ffd670;
    }

    .rodape{

        background-color: #e9ff70;
        text-align: center;

    }

    /* coolors.co/  */
    /* adobe colors */
    /* paletton */





    