body{
background-color: #70d6ff;

}

div {

border: 1px solid black;
/*margem interna*/
padding: 30px;


}

/*chama a div com a class="topo"*/
.topo{

background-color: #ff70a6;

}

.nav {

    background-color: #ff9770;

}

.principal{

    background-color: #ffd670;
    }

    .rodape{

        background-color: #e9ff70;

    }

    /* coolors.co/  */
    /* adobe colors */
    /* paletton */

    



    